a{
    color:inherit;
    text-decoration:none;
}
body{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
    
}
header{
    background-color: rgb(41, 115, 175);
    font-size:  2em;
    text-align: center;
    color: white;
    padding: 1em;
    padding-bottom: 2em;
    width: auto;
    height: 5em;
    border-style: solid;
    border-color: black;
}
.menu{
    font-size: 3em;
    color:  (15, 145, 206, 0.548);
    background-color: rgb(41, 115, 175);
    text-align: center;
    height: 10em;
    width: 9.4em;
    margin-top: -1.1em;
    padding-bottom: 0.9em;
}
.menu li{
    padding-top: 0.7em;
    list-style: none;
    border-style: solid;
    margin-left: -0.84em;
    padding-bottom: 0.69em;
    color:white;
    border-color: black;
    box-sizing: border-box;
}
.menu li:nth-child(2){
    background-color: white;
    color: rgb(41, 115, 175);
    border-style: none;
}
.menu li:hover{
    background-color: white;
    color: rgb(41, 115, 175);
    border-style: none;
}
.sobre{
    list-style: none;
    float: right;
    color:white;
    margin-top: -23em;
    margin-right: 4em;
    width: 31em;
    height: 11em;
    text-align:left;
    padding-bottom: 11em;
    background-color:rgb(41, 115, 175);
    font-size: 2.5em;
    padding-left: 0.6em;
}
article{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.margem-direita{
    float: right;
    margin-top: -64.05em;
    width: 6.7em;
    height: 64.35em;
    background-color: rgb(41, 115, 175) ;
    border-style: solid;
    border-color: black;
}
.criacao{
    background-color:rgb(41, 115, 175);
    text-align: right;
    padding-right: 11.7em;
    margin-top: -1.55em;
    width: 100em;
    height: 1.85em;
    border-style: solid;
    border-color: black;
    padding-left: -1em;
}
aside{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

